openapi: 3.1.0
info:
  title: iGSP Reference API
  version: 1.0.0
  description: |
    iGaming Standard Protocol — Reference API for providers.
servers:
  - url: https://api.igsp.dev/v1
paths:
  /games:
    get:
      summary: Games
      description: |
        Retrieving games list.
        
      responses:
        '200':
          description: List of games
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Game ID that will be used in session creation
                          example: 13339
                        game_provider_id:
                          type: integer
                          description: Game provider ID
                          example: 1
                        integration_id:
                          type: integer
                          description: Integration ID
                          example: 2
                        slug:
                          type: string
                          description: Game slug
                          example: "jaws-munch"
                        name:
                          type: string
                          description: Game name
                          example: "Jaws Munch"
                        rtp:
                          type: string
                          description: Return to Player percentage
                          example: "0.00"
                        bonus_rollover_coefficient:
                          type: string
                          description: Bonus rollover coefficient
                          example: "0.00"
                        status:
                          type: string
                          description: Game status
                          example: "active"
                        weight:
                          type: integer
                          description: Game weight for sorting
                          example: 0
                        init_number:
                          type: integer
                          description: Initialization number
                          example: 0
                        created_at:
                          type: string
                          format: date-time
                          description: Creation timestamp
                          example: "2025-10-02T08:18:25.000000Z"
                        updated_at:
                          type: string
                          format: date-time
                          description: Last update timestamp
                          example: "2025-10-02T08:18:25.000000Z"
                        deleted_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: Deletion timestamp
                          example: null
                        provider:
                          type: object
                          description: Game provider information
                          properties:
                            id:
                              type: integer
                              example: 1
                            slug:
                              type: string
                              example: "insomnia"
                            name:
                              type: string
                              example: "Insomnia"
                            image_url:
                              type: string
                              nullable: true
                              example: null
                            weight:
                              type: integer
                              example: 0
                            status:
                              type: string
                              example: "active"
                            created_at:
                              type: string
                              format: date-time
                              example: "2025-09-30T11:18:26.000000Z"
                            updated_at:
                              type: string
                              format: date-time
                              example: "2025-09-30T11:18:26.000000Z"
                        integration:
                          type: object
                          description: Integration information
                          properties:
                            id:
                              type: integer
                              example: 2
                            key:
                              type: string
                              nullable: true
                              example: null
                            alias:
                              type: string
                              example: "acava"
                            name:
                              type: string
                              example: "Acava"
                            type:
                              type: string
                              example: "slots"
                            status:
                              type: string
                              example: "active"
                            created_at:
                              type: string
                              format: date-time
                              example: "2025-10-02T08:16:02.000000Z"
                            updated_at:
                              type: string
                              format: date-time
                              example: "2025-10-02T08:16:02.000000Z"
                        categories:
                          type: array
                          description: Game categories
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              slug:
                                type: string
                                example: "slots"
                              name:
                                type: string
                                example: "Slots"
                              image_url:
                                type: string
                                nullable: true
                                example: null
                              weight:
                                type: integer
                                example: 0
                              status:
                                type: string
                                example: "active"
                              created_at:
                                type: string
                                format: date-time
                                example: "2025-09-30T11:16:33.000000Z"
                              updated_at:
                                type: string
                                format: date-time
                                example: "2025-09-30T11:16:33.000000Z"
                              games:
                                type: string
                                nullable: true
                                example: null
                  links:
                    type: object
                    description: Pagination links
                    properties:
                      first:
                        type: string
                        example: "http://api.dev.betkudos.com/api/games?page=1"
                      last:
                        type: string
                        example: "http://api.dev.betkudos.com/api/games?page=667"
                      prev:
                        type: string
                        nullable: true
                        example: null
                      next:
                        type: string
                        example: "http://api.dev.betkudos.com/api/games?page=2"
                  meta:
                    type: object
                    description: Pagination metadata
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 667
                      links:
                        type: array
                        description: Pagination link objects
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              nullable: true
                              example: null
                            label:
                              type: string
                              example: "&laquo; Previous"
                            page:
                              type: integer
                              nullable: true
                              example: null
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: "http://api.dev.betkudos.com/api/games"
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 20
                      total:
                        type: integer
                        example: 13339
  /sessions:
    post:
      summary: Create a new gaming session
      responses:
        '201':
          description: Session created
  /providers:
    get:
      summary: Providers
      responses:
        '200':
          description: List of providers
